h1,h2
{
    text-align: center;
    font-family: century gothic;
}

h2
{
    
}

#img
{
    
    border: 0px solid black;
    height: 150px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}

#carlton
{
    border: 5px dotted black;
}

body, html
{
    cursor: url(http://i.imgur.com/ZDqWOKQ.png), pointer;
    height: 100%;
    overflow: hidden;
    background: -moz-linear-gradient( top ,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 255, 0, 1) 15%,
    rgba(0, 255, 0, 1) 30%,
    rgba(0, 255, 255, 1) 50%,
    rgba(0, 0, 255, 1) 65%,
    rgba(255, 0, 255, 1) 80%,
    rgba(255, 0, 0, 1) 100%);
    background: -webkit-gradient(linear,  left top,  left bottom, 
    color-stop(0%, rgba(255, 0, 0, 1)), 
    color-stop(15%, rgba(255, 255, 0, 1)),
    color-stop(30%, rgba(0, 255, 0, 1)),
    color-stop(50%, rgba(0, 255, 255, 1)),
    color-stop(65%, rgba(0, 0, 255, 1)),
    color-stop(80%, rgba(255, 0, 255, 1)),
    color-stop(100%, rgba(255, 0, 0, 1)));
}

.Dodge
{
    transition: all 0.2s ease-out;
}